<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASCII Art Generator</title>
    <link rel="stylesheet" href="/templates/home.css" />
  </head>
  <body>

    <div class="main">

    <h1 class="asci-header prata-regular">Groupie Tracker</h1>
      {{if .Name}}
    <div class="error" style="color: red; text-decoration: underline; margin-bottom: 10px;">{{.Name}}</div>
    {{end}}
        {{if .Members}}
    <div class="error" style="color: red; text-decoration: underline; margin-bottom: 10px;">{{.Members}}</div>
    {{end}}
        {{if .CreationDate}}
    <div class="error" style="color: red; text-decoration: underline; margin-bottom: 10px;">{{.CreationDate}}</div>
    {{end}}
        {{if .FirstAlbum}}
    <div class="error" style="color: red; text-decoration: underline; margin-bottom: 10px;">{{.FirstAlbum}}</div>
    {{end}}
        {{if .Locations}}
    <div class="error" style="color: red; text-decoration: underline; margin-bottom: 10px;">{{.Locations}}</div>
    {{end}}
        {{if .ConcertDates}}
    <div class="error" style="color: red; text-decoration: underline; margin-bottom: 10px;">{{.ConcertDates}}</div>
    {{end}}
        {{if .Relations}}
    <div class="error" style="color: red; text-decoration: underline; margin-bottom: 10px;">{{.Relations}}</div>
    {{end}}

    </div>

</body>
</html>
